@using PagedList;
@model IPagedList<ChannakyaBase.Model.ViewModel.InternalChequeDepositModel>
@{
    Layout = null;

}
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">UnVerified Internal Deposit</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"> <i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->

    <div class="box-body">

        @Html.Partial("_UnverifiedChequeDepositList", Model)

    </div>
</div>

<div id="account-pop-up-div2" class='modal' role='dialog'>


</div>
<div id="account-pop-up-div3" class='modal' role='dialog'>


</div>

