@model ChannakyaAccounting.Models.Models.SubsiDetail

@{ 
    ChannakyaAccounting.Service.Subsi_Setup.SubsiDetailService subService = new ChannakyaAccounting.Service.Subsi_Setup.SubsiDetailService();
}
@Html.Label("Ledger Name", htmlAttributes: new { @class = "control-label col-md-3" })
<div class="col-md-9">
    @Html.DropDownListFor(model => model.FId, subService.GetSubsiLedger(Model.CId), "Select Ledger", new { @class = "form-control subsi-ledger" })
    @Html.ValidationMessageFor(model => model.FId, "", new { @class = "text-danger" })

</div>

<script>
    $('select#FId').change(function () {

        debugger;
        var custId = $(this).closest('form#createSubsiDetail').find('input.internal-value').val();
        if (custId == 0 || custId == null) {
            ErrorAlert("Please Select Customer", 5000)
            return false;
        }
        var ledgerId = $(this).val();

        $.ajax({
            type: "POST",
            url: "/MapSubsi/EditSubsiDetailDropDown/",
            data: { ledgerId: ledgerId, customerId: custId },
            dataType: "html",
            success: function (data) {
                debugger;
                $('section.content').html(data);
                $('input#AccNo').load("/MapSubsi/GenerateAccNumber/", { ledgerId: ledgerId });

            }
        })



    });
</script>