@using Loader.Models
@model LoginViewModel

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @id = "forgotpw", @style = "display:none;" }))
{
    <form id="lost-form">

        @Html.AntiForgeryToken();
        <div class="modal-body">
            <div id="div-lost-msg">
                <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                <span id="text-lost-msg">Type your e-mail.</span>
            </div>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email", @autocomplete = "off" })
        </div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-primary btn-lg btn-block submit-fwpwd">Send</button>
            </div>
            <div>
                <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
            </div>
        </div>

    </form>
}
