@model  ChannakyaBase.Model.ViewModel.DenoInViewModel
@using ChannakyaBase.BLL
@{

}

<div class="box-body table-responsive no-padding table-denosetupList">
    <table class="table table-bordered table-striped table-hover">
        <tr>

            <th>
                Currency
            </th>

            <th>
                Figure
            </th>
            <th>
                Action
            </th>

        </tr>

        @foreach (var item in Model.DenoInList)
        {
            <tr>

               
                   @Html.HiddenFor(modelItem=>item.DenoID)
           

                <td>

                    @Html.DisplayFor(modelItem => item.Currency)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deno)

                </td>
                <td><a class="btn btn-info btn-sm btn-edit-branch glyphicon glyphicon-edit" onclick="EditDemoSetup(@item.DenoID)"></a></td>
            </tr>
        }

    </table>

</div>
