
@model  ChannakyaBase.Model.ViewModel.CashLimitModel
    @using ChannakyaBase.BLL.CustomHelper
@{

}
<div class="box box-comment">
    <div class="box-header with-border">

        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Employee Name </label>
                        <div class="col-md-4">


                            @*@Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control" })*@
                            @Html.EmployeeSearch(x => x.EmployeeId, Model.EmployeeName, EEmployeeChange.UserCashLimit.GetDescription())
                        </div>
                        @*<div class="col-md-6">
                            <div class='input-group-btn'>
                                <button type='button' id='btn-cash-limit' class='btn btn-default'><i class='fa fa-search'></i></button>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div id="teller-cash-limit">
            @Html.Partial("_TellerCashLimitList", Model)
        </div>
    </div>
</div>
 <script src="~/Scripts/ChannakyaBaseJs/EmployeeSearch.js"></script>
<script src="~/Scripts/ChannakyaBaseJs/ChannakyaBasePage.js"></script>

