@model ChannakyaAccounting.Models.ViewModel.TaskViewModel
@*@using ChannakyaBase.BLL*@
@using ChannakyaAccounting.Service.TaskVerificationAcc

@{
    var aba = Model;
    ViewBag.Title = "EmployeeList";
    int eventvalue = Convert.ToInt32(Model.EventValue);
}

<div class="modal-dialog modal-lg verifier-modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" id="closeTop" data-dismiss="modal" aria-hidden="true">&times;</span>
            <h4 class="modal-title">

               <span>Reject Details</span>

            </h4>
        </div>

   
        <div class="modal-body verify-voucher">
            <div class="content-box">
                <fieldset>
                    @*<legend style="font-size:large;font-weight:bold">Task Related Details</legend>*@
                    @{Html.RenderAction("DisplayVoucherVerifyDetails", "Voucher1", new { V1Id = Convert.ToInt32(Model.EventValue) });}
                    @Html.Partial("_EventRaisedDetails", Model)
                </fieldset>
            </div>
        </div>

        <div class="modal-body rejected-voucher">
            <div class="content-box">
                <fieldset>
                    <legend style="font-size:large;font-weight:bold">Reject Remarks</legend>
                    @Html.TextArea("Remarks", null, new { @class = "form-control rejected-remarks",@placeholder="Remarks...." })
                </fieldset>
            </div>
        </div>




        <div class="btn-groups modal-footer" style="padding:5px">
            @if (Model.IsVerified == true)
            {
                <span>Verified By:@TaskUtilityService.VerifiedBy(Model.Task1Id)</span>
            }

            else
            {
                <button type="button" class="btn btn-danger btn-sm btn-account-reject-confirm" data-valofevent=@Convert.ToInt32(Model.EventValue) data-eventid=@Model.EventId data-taskId=@Model.Task1Id>Reject <i class="fa fa-check" aria-hidden="true"></i></button>
                
            }


        </div>
    </div>
</div>



<script>

    $(".verifier-modal").on("click", ".btn-account-reject-confirm", function () {

        $(".verifier-modal").find('.verify-voucher').hide();
        $(".verifier-modal").find('.rejected-voucher').show();

        var eventValue = $(this).data("valofevent");
        var eventId = $(this).data("eventid");
        var task1Id = '@Model.Task1Id'
        var remarks = $('.verifier-modal').find('.rejected-remarks').val();
        //$(this).data("taskId");
        var url = "/TaskVerificationAcc/RejectConfirm";
        $.ajax(
        {
            type: "Post",
            url: url,
            data: { eventValue: eventValue, eventId: eventId, task1Id: task1Id,remarks:remarks },
            success: function (returnMessage) {

                SuccessAlert("Voucher Sucessfully Rejected", 5000);
                $('div#getTaskVerficationLists').modal('hide');

                var urlToDirect = "/TaskVerificationAcc/_ViewAllPendingTaskIndex";
                $.ajax({
                    type: "GET",
                    url: urlToDirect,
                    success: function (result) {
                        debugger;
                        $('.content').html("");
                        $('.content').html(result);

                    },
                    error: function () {

                    }
                });

            },

        })
    })
</script>
