@model ChannakyaBase.DAL.DatabaseModel.TempIntRate
 
<div class="TempIntRate">
    <div id="TempIntRate-create" class="TempIntRateCreate">
        @{Html.RenderAction("_TempInterestRateCreate", "TransactionSetup");}
    </div>
    <div id="TempIntRate-list" class="TempIntRateList">
        @{Html.RenderAction("_TempInterestRateList", "TransactionSetup");}
    </div>
</div>
