@model IEnumerable<ChannakyaBase.DAL.DatabaseModel.AccNoPrefixDef>
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";

}
<style>
      #sortable {
          list-style-type: none;
          margin: 0;
          padding: 0;
          width: 20%;
      }

          #sortable li {
              margin: 0 3px 3px 3px;
              padding: 0.4em;
              padding-left: 1.5em;
              font-size: 1.4em;
              height: 18px;
          }

              #sortable li span {
                  position: absolute;
                  margin-left: -1.3em;
              }

          #sortable li {
              margin: 0 3px 3px 3px;
              padding: 0.4em;
              padding-left: 1.5em;
              font-size: 1.4em;
              height: 45px;
          }
</style>

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Account No Prefix Generate</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
        <div class="form-group prefix-contents" id="contentDiv">
            <ul id="sortable" class="param-list">
                @foreach (var item in Model)
            {
                    <li class="ui-state-default"><span PrfxId="@item.PrfxId" class="ui-icon ui-icon-arrowthick-2-n-s"><input type="text" value="@item.PrfxId" class="hidden prefixid" /></span>@item.PrefixName</li>
                }

            </ul>
            <div>
                <input type="button" value="Save" id="btn-save-submit" class="btn btn-default btn-save " />
            </div>
        </div> 
      
    </div>
<script>
    $('.prefix-contents').on('click', '.btn-save', function () {
        // var paramcode = "";
        debugger;
        var list = Array.from(document.querySelectorAll('#contentDiv>ul>li>span>input.prefixid'));

        var paramcode = [];
        $(list).each(function (index, item) {
            debugger;
            // paramcode+= $(this).val();
            paramcode.push($(this).val());
        })
        $.ajax({
            type: "post",
            url: "/TransactionSetup/AccountNumberGenerateIndex",
            data: { paramcode: paramcode },
            success: function (data) {
                SuccessAlert(" Sucessfully Added", 5000);
            },
            error: function () {
                alert("error");
            }
        });

    })
</script>
<script>
    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });
</script>