
@model  ChannakyaBase.Model.ViewModel.AccountDetailsViewModel
@{

}
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Loan Account List</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->

    <div class="customer-main details">
        @*<input type="button" value="New Account" id="btn-create" class="btn btn-info btn-sm btn-create" />*@
            <div class="box box-success">
                <div class="box-header with-border">
                    @Html.Partial("_LoanAccountList", Model)
                </div>
            </div>

        <div class="NewAccount-create">

        </div>
    </div>
</div>
<script>
    function EditAccountNumber(IAccno) {
        
        $.ajax({
            type: "GET",
            url: "/Teller/_AccountDetails",
            datatype: "Json",
            data: { IAccno: IAccno, ModelFrom:"Credit" },
            success: function (result) {
                $('section.content').html("");
                $('section.content').html(result);
            }
        })
    }

</script>

