@model ChannakyaBase.Model.ViewModel.TaskViewModel
<div class="table-responsive table-striped no-padding">
    <table class="table table-responsive table-striped table-hover table-bordered" id="hor-minimalist-a">
        <thead>
            <tr>
                <th>
                    EmployeeName:
                </th>
                <th>
                    Raised By:
                </th>
                <th>
                    Raised on:
                </th>
                <th>
                    Message:
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span> @Model.EmployeeName</span>
                </td>
                <td>
                    <span> @Model.UserName</span>
                </td>
                <td>
                    <span> @Model.RaisedOn</span>
                </td>
                <td>
                    <span> @Model.Message</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
