@{
    Layout = null;
    ViewBag.Title = "CollectionSheet";
    var retId = ViewBag.RetId;
}

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Collection Sheet</h3>
        <hr />
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div><!-- /.box-tools -->
        <div id='collection-log-up-div' class='modal fade collectorLog-list' role='dialog'></div>
            <div id="collectionSheetCreate" class="collection-create">
                @{Html.RenderAction("_CollectionSheetCreate", "Teller",new { retId = retId,taskId= ViewBag.TaskId });}
            </div>
        </div>
</div>
<script src="~/Scripts/jquery.form.min.js"></script>