@model ChannakyaAccounting.Models.ViewModel.usertovoucherreturnViewModel
<div class="container col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">

                <table id="mytable" class="table table-bordred table-striped" >

                    <thead>
                        <tr>
                            <th>
                                User Name
                            </th>
                            <th>
                                Voucher Name
                            </th>
                            <th>
                                Batch Name
                            </th>
                            <th>
                               
                            </th>
                            <th>

                            </th>
                        </tr>
                    <tbody>
                        @*@foreach (var item in Model.voucherreturnViewModel)
                        {*@
                            @Html.Partial("_ListView", Model)
                        @*}*@

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
