@model IEnumerable<ChannakyaBase.Model.ViewModel.ProductWiseInterestLogModel>
@{ 
    decimal sum = 0;
}

<div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-hover">
        <tr>

            <th>
                ProductName
            </th>
            <th>
                Interest
            </th>



        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.PName)
                </td>
                <td style="text-align:right!important">
                    @Convert.ToDecimal(item.DInt).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)
                </td>





            </tr>
            sum += Convert.ToDecimal(item.DInt);
        }
        <tr>
            <td>Total</td>           
            <td style="text-align:right!important">@sum.ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)</td>
        </tr>
    </table>
    </div>
