@model  ChannakyaBase.Model.ViewModel.CashFlowViewModel
@using ChannakyaBase.BLL.Service
@using ChannakyaCustomeDatePicker.Helper;
@{

}
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Product Summary Report</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->

    <div class="customer-main details">


        <fieldset>
            <div class="row">

                <div class="form-group">
                    <div class="col-md-3">
                        <label>Branch Name</label>
                        <div class="form-grop_padding">
                            @Html.DropDownListFor(x => x.branchId, ReportUtilityService.GetBranchList(Model.branchId), new { @class = "form-control" })
                        </div>
                    </div>
                  
                    <div class="col-md-3">
                        <label>
                            From Date
                        </label>
                        <div class="form-grop_padding">

                            @Html.DatePicker(x => x.FromDate)
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>
                            To Date
                        </label>
                        <div class="form-grop_padding">
                            @Html.DatePicker(x => x.ToDate)
                        </div>
                    </div>
                </div>


                <div class="form-group col-md-12">
                    <input type="button" value="ExportToExcel" class="btn btn-info product-summary-export-to-excel pull-right" />
                    <button type="button" name="btn-account-holder-search" id="btn-report-product-summary-related" class="btn btn-primary pull-right" style="margin-left: 0px;" value="Generate">
                        <i class="fa fa-search"></i>
                    </button>
                </div>


            </div>
        </fieldset>

        <div class="box-header with-border with-ProductSummaryDetails-Report-View">

        </div>

    </div>
</div>
<script src="~/Scripts/DatePicker/Channakya-DatePicker.js"></script>
<link href="~/Scripts/DatePicker/DatePicker.css" rel="stylesheet" />
<script>
    $('#btn-report-product-summary-related').on('click', function () {
        var branchId = $('#branchId').val();
        var fromDate = $('#FromDate').val();
        var toDate = $('#ToDate').val();
        
        $.ajax({
            type: "GET",
            url: "/Report/_ProductSummaryReport",
            datatype: "HTML",
            data: {

                fromDate: fromDate,
                toDate: toDate,
                branchId: branchId,
              
            },
            success: function (result) {
                $('.with-ProductSummaryDetails-Report-View').html("");
                $('.with-ProductSummaryDetails-Report-View').html(result);
            }
        })

    });

    $('.product-summary-export-to-excel').on('click', function () {
        debugger;
        var branchId = $('#branchId').val();
        var branchText = $('#branchId option:selected').text();
        var fromDate = $('#FromDate').val();
        var toDate = $('#ToDate').val();
        window.open("/Report/ProductSummaryExportToExcel?branchId=" + branchId + "&branchText=" + branchText + "&fromDate=" + fromDate + "&toDate=" + toDate);

    });

</script>   




