@model ChannakyaBase.Model.ViewModel.ShareReportByDateViewModel
@using ChannakyaBase.BLL.CustomHelper
@using ChannakyaBase.BLL
@using ChannakyaBase.BLL.Service
@using ChannakyaCustomeDatePicker.Helper
@{
//ReportUtilityService. StatusList = new ReportUtilityService();
}



<div class="box box-success Depost-transaction-create">
    <div class="box-header with-border">

        <h3 class="box-title">DateWise Share Report</h3>

        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"> <i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div><!-- /.box-tools -->
    </div>
    @using (Html.BeginForm("_ShareReportByDate", "Report", FormMethod.Post, new { id = "share-report" }))
    {

        <div class="content-box">
            <fieldset>
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.DatePicker(model => model.FromDate)
                        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.DatePicker(model => model.ToDate)
                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        <input type="button" style="float:right;" value="Generate" class="btn btn-info btn-save-cust btn-sm btn-save glyphicon glyphicon-save" onclick="GenerateReport()" />

                    </div>
                </div>
            </fieldset>
        </div>

    }



</div>
<div class="display-list">
</div>
<div class='display-list-pop-up modal fade col-md-offset-2' role='dialog'>
</div>


<script>
    function GenerateReport()
  {
      debugger;
      var tdate = $('#FromDate').val();
      var fdate = $('#ToDate').val();
      var status = $('#Status').val();
      $.ajax({
          url: "/Report/_CollectorWiseAccountOpen",
          type: 'GET',
          data: {
              fdate: fdate,
              tdate: tdate,
              status: status
          },
          success: function (result) {
              debugger;
              $(".display-list").html(result);
              $(".textarea").val("");
          }
      })


    }
    function Detail(BroughtBy)
    {
        debugger;
        var tdate = $('#FromDate').val();
        var fdate = $('#ToDate').val();
        var status = $('#Status').val();
        $.ajax({
            type: "GET",
            data: {
                collectorId: BroughtBy,
                tdate: tdate,
                fdate: fdate,
                status: status
            },
            url: "/Report/CollectorWiseAccountOpenDetail",
            success: function (result) {
                debugger;
                $(".display-list-pop-up").html(result).modal({
                    'show': true,
                    'backdrop': 'static'
                });
                $('.modal.backdrop').remove();
            }
        });
    }
</script>
<script src="~/Scripts/DatePicker/Channakya-DatePicker.js"></script>


